<article class="post">
  <div class="title">
    <h3>>{{title}}</h3>
    <span>
      {{user.username}}
      on
      {{format_date created_at}}</span>
    <p> {{blog_post}} </p>
  </div>
  <div class="meta">
    <a href="/posts/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>