<ol class="post-list">
  {{#each posts}}
    <li>
      {{posts}}
      <article class="post">
        <div class="title">
          <p>>{{title}} {{blog_post}} </p>
        </div>
        <div class="meta">
          <a href="/api/posts/{{id}}">{{comments.length}} comment(s)</a>
        </div>
      </article>
    </li>
  {{/each}}
</ol>